@font-face {
    font-family: 'Sofia Sans';
    src: url('https://res.cloudinary.com/dz9smi3nc/raw/upload/v1666183785/shop-mugs/font/SofiaSans-Medium_ng2agh.ttf');
}

@font-face {
    font-family: 'Sofia Black';
    src: url('https://res.cloudinary.com/dz9smi3nc/raw/upload/v1666770005/shop-mugs/font/SofiaSans-Black_raq3yw.ttf');
}

@font-face {
    font-family: 'Comic Sans Blod';
    src: url('https://res.cloudinary.com/dz9smi3nc/raw/upload/v1666791369/shop-mugs/font/ComicSansMSBold_qkypqe.ttf');
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #0000004d;
    background-color: #2d2c2cc6
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px #00000098;
    background: #7c7063cc;
    background: #a28f7755;
}

/** App dimension management */

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /** Esto es para manejar REM en base 10*/
    /* 1REM = 10px */
}

body {
    backface-visibility: hidden;
    overflow-x: hidden;
    transform: translateZ(0);
    -webkit-font-smoothing: subpixel-antialiased;
    /* font-family: 'Raleway', sans-serif; */
    font-size: 1.6rem;
    line-height: 2;
    font-family: 'Sofia Sans';
    font-style: normal;
    color: #9c8d79;
    background-color: #1f1724;
    background-color: #0f0f0f;

}

.app-container {
    position: relative;
    /* display: flex;
    align-items: center; */
    width: 100vw;
    height: 100vh;
    /* filter: blur(2px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 60rem;
    color: #9c8d79;
}

video {
    position: absolute;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    filter: saturate(2%);
}

.app {
    position: relative;
    z-index: 3;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
    /* height: 100%; */
    /* background-color: #332d41; */
}

@media (min-width: 1920px) {
    .app {
        zoom: 125%;
    }
}

.app-wrap {
    z-index: 22;
    /* position: absolute; */
    height: 100%;
    width: 100%;
}

/*$ End App dimension management */

/** Nav */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5.5rem;
    background-color: #070707a3;
    background-color: #1f1f20a5;
    background-color: #1b1b1bd8;
    background: linear-gradient(90deg, #1b1b1bd8 0%, #181716d8 90%);
    border: 1px solid #1313136a;
}

nav .header_box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 3rem;
}

nav .header_box .img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

nav .header_box img {
    display: block;
    height: 90%;
    cursor: pointer;
    opacity: .7;
    transition: 0.5s ease-in-out;
}

nav .header_box:nth-child(3) img {
    display: block;
    height: 75%;
    filter: brightness(110%);
    
}

nav .header_box:nth-child(1) img:hover,
nav .header_box p:hover,
nav .header_box:nth-child(3) img:hover {
    opacity: 1;
    transition: 0.5s ease-in-out;
}

nav .header_box p {
    text-shadow: 0px 0px 3px #c0b1a1;
    font-size: 2.6rem;
    letter-spacing: 2px;
}

/*$ End Nav */

/** Galary */

main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* height: 90rem; */
}


main .main-box {
    max-width: 130rem;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 2rem;
    /* background-color: #4a4f64; */
    text-align: center;
}

main .galery {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 2rem; */
    /* width: 126rem; */
    /* padding: 2rem 0; */
    /* height: 34rem; */
    /* background-color: #6262d4a5; */
}

main .galery .card-container {
    padding: 1.5rem .9rem;
    margin: 2rem 0;
    background-color: #1f1f20a5;
    /* border: 1px solid #382f2a1f; */
    box-shadow: 0px 0px 3px #151514a1;
}

main .galery .card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 24rem;
    height: 37rem;
    background-image: url("https://res.cloudinary.com/dz9smi3nc/image/upload/w_800/v1669772977/Challenger-IngerTec/items/1209131_rmrcov.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;
    cursor: pointer;
    opacity: .8;
    transition: .5s;
}

/** Cards */

main .galery .card .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    /* height: 70%; */
    background-color: #1f1f20a5;
    /* background-color: #3232b7a5; */
    padding: 1rem 0;
    gap: .2rem;
    transform: translateY(17rem);
    transition: .5s;
}

main .galery .card:hover {
    opacity: 1;
    transform: scale(101%, 101%);
    transition: opacity .5s;
    text-shadow: 0px 0px 1px #b8afa5d2;
    color: #b0a391;
    transition: .5s;
}

main .galery .card:hover .info {
    transform: translateY(0);
    transition: .5s;
}

main .galery .card .info-box {
    padding-left: 1rem;
    margin: .4rem 0;
}

main .galery .card .info-box:nth-child(1) {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    min-height: 6rem;
}

main .galery .card .info-box:nth-child(1) .img-wrap {
    /* align-self: center; */
    margin-top: 1rem;
    height: 1.2rem;
    padding-right: 1rem;
}

main .galery .card .info-box:nth-child(1) .img-wrap img {
    display: block;
    height: 100%;
    transition: .5s;
}

main .galery .card:hover .info-box:nth-child(1) .img-wrap img {
    transform: rotate(180deg);
    transition: .5s;
}

main .galery .card .info-box:nth-child(1) p {
    text-align: start;
    font-size: 2.2rem;
    line-height: 3rem;
    letter-spacing: .2rem;
    margin: 0;
    padding: 0;
}

main .galery .card .info-box:nth-child(2) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 4rem;
    /* opacity: 0; */
    /* max-height: 0; */
}

/* main .galery .card .info:hover .info-box:nth-child(2) {
    max-height: 14rem;
    margin-bottom: 4rem;
    transition: .5s;

} */

main .galery .card .info-box:nth-child(2) p {
    font-size: 1.35rem;
    line-height: 3rem;
    margin: 0;
    padding: 0;
    /* font-size: 0rem; */
}

/* main .galery .card .info:hover .info-box:nth-child(2) p {
    font-size: 1.35rem;
} */

main .galery .card .view-total {
    position: absolute;
    width: 100%;
    bottom: 0;
}

main .galery .card .view-total .wrap {

    display: flex;
    justify-content: start;
    align-items: center;
    width: 92%;
    margin-left: 1.1rem;
    margin-bottom: 1.2rem;
    font-size: 1.4rem;
    gap: .4rem;
    transform: translateX(79%);
    transition: transform .6s;
}

main .galery .card:hover .view-total .wrap {
    transform: translateX(0rem);
    transition: transform .6s;
}

main .galery .card .view-total .img-wrap {
    height: 1.6rem;
}

main .galery .card .view-total .img-wrap img {
    display: block;
    height: 100%;
}

/*$ End Cards */

/*$ End Galary */

/** Box dialogue info */

main .main-box:nth-child(2) {
    width: 100%;
    margin-bottom: 4rem;
}

main .info-text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    max-width: 108rem;
    padding: 2rem;
    /* height: 20rem; */
    background-color: #1f1f20a5;
    box-shadow: 0px 0px 3px #151514a1;
    opacity: .9;
}

main .switch-info {
    position: absolute;
    top: 0;
    right: -6rem;
    width: 4rem;
    height: 4rem;
    border: 0;
    cursor: pointer;
    background-color: #1f1f20a5;
    box-shadow: 0px 0px 3px #151514a1;
}

@media (max-width: 1024px) {
    main .switch-info {
        right: unset;
        top: unset;
        bottom: -6rem;
    }

    main .main-box:nth-child(2) {
        margin-bottom: 9rem;
    }
}

main .switch-info .img-wrap {
    display: flex;
    align-items: center;
    width: 100%;

}


main .switch-info .img-wrap img {
    display: block;
    width: 100%;
    transition: filter 0.5s ease-in-out;
}

main .switch-info .img-wrap:hover img {
    filter: brightness(120%);
    transition: filter 0.5s ease-in-out;
}

main .info-text p {
    font-size: 1.5rem;
    font-size: 2rem;
    line-height: 3rem;
    text-align: start;
    margin: 0;
    transition: .5s;
    /* padding: 2rem; */
}

main .info-text p:hover {
    text-shadow: 0px 0px 1px #d0bda9;
    color: #a49582;
    transition: .5s;
}

/*$ End Box dialogue info */

footer {
    font-family: 'Sofia Sans';
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 4rem;
    font-size: 1.9rem;
    /* font-weight: 200; */
    background-color: #1f1f20a5;
    background-color: #1b1b1bd8;
    background: linear-gradient(90deg, #1b1b1bd8 0%, #181716d8 90%);
    border: 1px solid #1313136a;

}